.cantar{
     display: flex;
     justify-content: center;
     column-gap: 20px;
}

.lol{
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 20px;
    background-color: yellow;
}
.lol h1{
    text-align: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.lol .N{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: 10px;
}